rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /rooms/chat/{document=**} {
      //allow read, write: if request.auth.uid in get(/databases/$(database)/documents/rooms/metadata/chatperms/$(groupid).data.uidsAllowed);
      allow read: if request.auth.uid != null;
      allow write: if request.auth.uid != null;
    }
    match /rooms/metadata/chatperms/{document=**} {
      allow read: if request.auth.uid != null;
      allow write: if false;
    }
    match /roles/{document=**} {
       allow read: if request.auth.uid != null;
    }
    match /users/{document=**} {
      allow read: if request.auth.uid != null;
      allow write: if request.auth.uid != null;
    }
    match /status/{document=**} {
      allow read;
    }
    match /status/{statusuid} {
      // Authenticated users can retrieve only their own transactions
      allow read: if resource.data.user == request.auth.uid;
    }
  }
}